.card-body-book{
    font-family: 'Montserrat';
    color: #383838;
    font-weight: 600;
    display: flex;
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;

    margin-bottom: 15px;
    width: 270px;
    height: 178px;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.card-book-text{
    line-height: 15px;
    color: #707070;
    flex: none;
    order: 3;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 5px;
    padding-bottom: 1px;
}

#btn-emprestimo{
    font-weight: 600;
    color: #383838;
    margin-top: 5px;
    margin-left: 30%;
    padding: 5px;
}