
body{
    margin: 0;
    padding: 0;
 }

 .navbar{
     padding-top: 22px;
     justify-content: end;
 }
 
.nav-item{
    margin-right: 5px;
}

.bg-light{
    background-color: white!important;
}

#logo{
    float: left;
    margin: 25px;
}


.nav-item:hover{
    background-color: #858383fa !important;
    transition: 700ms;
 }

@font-face{
    src:"https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet";
}


    

  
